:root {
  --primary-color: #fff;

  --secondary-color: #ecf0f1;

  --accent-color: #e67e22;

  --text-color: #2c3e50;
  --medium-text: #7f8c8d;

  --font-family: Outfit;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  --transition-fast: 0.2s ease;
  --transition-medium: 0.3s ease;
  --transition-slow: 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
}

.form-label {
  font-weight: 600;
  color: var(--text-color);
}

.form-input {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: var(--border-radius-sm);
  font-family: var(--font-family);

  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-button {
  padding: 0.8rem;
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font-family);
  transition: background-color 0.3s ease;
}

.form-button.primary {
  background-color: var(--accent-color);
  color: white;
}

.form-button.primary:hover {
  background-color: #d35400;
}
.parking-form {
  position: relative;
}

.login-email-error,
.login-password-error,
.error-acc-names,
.error-password,
.error-repeat-password,
.exit-license-error,
.error-park-lincense,
.error-park-type {
  position: absolute;
  top: 37%;
  right: 1%;
  color: #991b1b;
  font-size: 0.8rem;
}
