:root {
  /* Indigo */
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #3730a3;
  --color-brand-900: #312e81;

  /* Grey */
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #1a1a2e;

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  --font-size-xs: 1.5rem;
  --font-size-md: 2rem;
  --font-size-xl: 2.2rem;
  --font-size-xxl: 3.5rem;
  --font-size-xxxl: 5.6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Outfit;
  font-size: 62.5%;
}

/* .parking-container,
.leave-container,
.login-container,
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-grey-50);
  padding: 20px;
}

.parking-card,
.leave-card,
.login-card,
.signup-card {
  background: var(--color-grey-0);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;

  width: 100%;
  max-width: 450px;
} */

/* .parking-header,
.leave-header,
.welcome-section,
.signup-header {
  padding: 30px;
  background: linear-gradient(
    135deg,
    var(--color-brand-500),
    var(--color-brand-700)
  );
  text-align: center;
}

.parking-header h1,
.leave-header h1,
.welcome-section h1,
.signup-header h1 {
  font-family: Outfit;
  color: var(--color-grey-0);
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
}

.parking-header p,
.leave-header p,
.welcome-section p,
.signup-header p {
  margin: 10px 0 0;
  font-family: Outfit;
  color: var(--color-grey-0);
  font-size: var(--font-size-md);
  opacity: 0.9;
}
.licenseError,
.vehicleError,
.loginEmailError,
.loginPasswordError,
.nameError,
.signEmailError,
.signPasswordError,
.cormfirmPasswordError,
.signupEye,
.signupEyeHide,
.signupEyeRepeat,
.signupEyeHideRepeat {
  font-size: 1.1rem;
  font-family: Outfit;
  color: var(--color-red-800);
  position: absolute;
  right: 12%;
  top: 56%;
}
.signupEye,
.signupEyeHide,
.signupEyeRepeat,
.signupEyeHideRepeat {
  font-size: var(--font-size-xl);
  color: var(--color-grey-500);
  top: 60%;
}
.signupEyeRepeat,
.signupEyeHideRepeat {
  top: 75%;
}
.cormfirmPasswordError {
  top: 79.5%;
}
.signPasswordError {
  top: 65.5%;
}
.signEmailError {
  top: 51.5%;
}
.nameError {
  top: 37%;
}
.vehicleError {
  top: 78%;
}
.loginEmailError {
  top: 51.5%;
}
.loginPasswordError {
  top: 71.5%;
}
.successMsg {
  padding: 0 2.5rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-xs);
  color: var(--color-grey-900);
}

.parking-form,
.leave-form {
  padding: 30px;
}
.login-form,
.signup-form {
  padding: 0 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
  font-family: Outfit;
  font-size: var(--font-size-md);
} */

/* .form-input {
  width: 100%;
  font-family: Outfit;
  padding: 12px 15px;
  border: 1px solid var(--color-grey-300);
  border-radius: 8px;
  font-size: var(--font-size-md);
  transition: border 0.3s;
  outline: none;
}
.form-input:focus {
  border-color: var(--color-brand-500);
}

.form-select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--color-grey-300);
  border-radius: 8px;
  font-size: var(--font-size-md);
  background-size: 1em;
  transition: border 0.3s;
}

.form-select:focus {
  outline: none;
  border-color: var(--color-brand-500);
}

.parking-button,
.leave-button,
.login-button,
.signup-button {
  width: 100%;
  font-family: Outfit;
  padding: 12px;
  background: linear-gradient(
    135deg,
    var(--color-brand-500),
    var(--color-brand-700)
  );
  color: var(--color-grey-0);
  border: none;
  border-radius: 8px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.parking-button:hover,
.leave-button:hover,
.login-button:hover,
.signup-button:hover {
  transform: translateY(-2px);
}

.signup-link,
.login-link {
  text-align: center;
  margin: 2rem 0;
  font-size: var(--font-size-md);
  color: var(--color-grey-600);
}

.signup-link button,
.login-link button {
  color: var(--color-brand-700);
  font-family: Outfit;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-weight: 600;
} */

/* .home-container {
  overflow-x: hidden;
  font-family: Outfit;
} */

/* .navbar {
  background-color: var(--color-grey-0);
  padding: 3.2rem 2.4rem;
  border-right: 1px solid var(--color-grey-100);
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
} */

/* .nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: var(--font-size-xxl);
  color: var(--dark);
} */

/* .clock {
  font-size: var(--font-size-xs);
  font-family: Outfit;
  color: var(--color-grey-900);
} */

/* .nav-links,
.show-links {
  display: flex;
  gap: 2rem;
  list-style: none;
} */

/* .nav-links a,
.show-links a {
  text-decoration: none;
  font-size: var(--font-size-md);
  font-family: Outfit;
  color: var(--color-grey-900);
  font-weight: 500;
  transition: color 0.3s;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}
.icon {
  color: var(--color-brand-200);
  font-size: var(--font-size-md);
} */

/* .nav-links a:hover,
.show-links a:hover {
  color: var(--color-brand-500);
} */
/* .nav-links a:hover .icon,
.show-links a:hover .icon {
  color: var(--color-brand-500);
} */

/* .nav-links a::after,
.show-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-brand-500);
  transition: width 0.3s;
} */

/* .nav-links a:hover::after,
.show-links a:hover::after {
  width: 100%;
} */

/* .mobile-menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
} */

/* APPLAYOUT*/

/* .applayout {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
} */
.main-section {
  background-color: #f9fafb;
  padding: 0 4rem;
}
.header {
  background-color: var(--color-grey-0);
  padding: 1.2rem 4.8rem;
  border-bottom: 1px solid var(--color-grey-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero Section */
/* .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 2rem 4rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
} */

/* .hero-content {
  flex: 1;
  padding-right: 2rem;
} */

/* .hero-content h1 {
  font-size: 5.5rem;
  color: var(--color-grey-900);
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: Outfit;
}

.hero-content p {
  font-size: var(--font-size-xl);
  color: var(--color-grey-600);
  margin-bottom: 2rem;
  max-width: 500px;
  font-family: Outfit;
} */

/* .hero-button {
  display: inline-block;
  font-family: Outfit;
  padding: 1rem 2rem;
  background: linear-gradient(
    135deg,
    var(--color-brand-500),
    var(--color-brand-700)
  );
  color: var(--color-grey-0);
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-size-md);
  transition: transform 0.3s;
  box-shadow: 0 4px 15px #4361ee4d;
}

.hero-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px #4361ee66;
} */

/* .hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
} */

/* Services Section */
.services {
  padding: 6rem 2rem;
  background-color: var(--color-grey-100);
  text-align: center;
}

.services h2 {
  font-size: var(--font-size-xxl);
  font-family: Outfit;
  color: var(--color-grey-900);
  margin-bottom: 1rem;
}

.services-subtitle {
  color: var(--color-grey-600);
  font-size: var(--font-size-xl);
  font-family: Outfit;
  max-width: 700px;
  margin: 0 auto 3rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background: var(--color-grey-0);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px #0000000d;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.service-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    var(--color-brand-500),
    var(--color-brand-700)
  );
  border-radius: 50%;
  color: var(--color-grey-0);
}

.service-icon svg {
  width: 30px;
  height: 30px;
}

.service-card h3 {
  font-size: var(--font-size-md);
  font-family: Outfit;

  margin-bottom: 1rem;
  color: var(--color-grey-900);
}

.service-card p {
  color: var(--color-grey-600);
  font-family: Outfit;
  font-size: var(--font-size-xs);
  line-height: 1.6;
}

/* About Section */
.about {
  display: flex;
  align-items: center;
  padding: 6rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
}

.about-image {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: var(--font-size-xxl);
  font-family: Outfit;
  color: var(--color-grey-900);
  margin-bottom: 1.5rem;
}

.about-content p {
  font-size: var(--font-size-xs);
  color: var(--color-grey-600);
  font-family: Outfit;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.stats {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.stat-item {
  text-align: center;
}

.stat-item span {
  font-size: 2rem;
  font-family: Outfit;

  font-weight: 700;
  color: var(--color-brand-500);
  display: block;
  margin-bottom: 0.5rem;
}

.stat-item p {
  color: var(--color-grey-600);
  font-family: Outfit;
  margin: 0;
}

.garage-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
  background-color: var(--color-grey-100);
}
.parked-vehicle-item {
  display: flex;

  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-200);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.parked-vehicle-item div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
/* NEW */

.container {
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;

  border: 1px solid red;
}

/* Button Styles */
/* .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3) var(--space-6);
  border-radius: var(--radius-lg);
  font-weight: 500;
  text-decoration: none;
  transition: all var(--transition-fast);
  border: 1px solid transparent;
  font-size: var(--text-sm);
  gap: var(--space-2);
} */

.btn-primary {
  /* background-color: var(--primary-60); */
  color: white;
}

.btn-primary:hover {
  background-color: var(--primary-30);
  transform: translateY(-1px);
  /* box-shadow: var(--shadow-md); */
}

.btn-lg {
  padding: var(--space-4) var(--space-8);
  font-size: var(--text-base);
}

/* Stats Section */
.stats-section {
  background-color: var(--color-brand-600);
  color: var(--color-grey-0);
  padding: 2rem 0;
  border-radius: 5px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-6);
}

.stat-card {
  text-align: center;
}

.stat-number {
  font-size: var(--font-size-xl);
  font-weight: 800;
  display: block;
  margin-bottom: 0.8rem;
}

.stat-label {
  font-size: var(--font-size-xs);
  opacity: 0.9;
}

/* Features Section */
.features {
  padding: 1rem 0;
}

/* .section-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 1rem;
}

.section-subtitle {
  display: inline-block;
  background-color: var(--color-brand-700);
  color: var(--color-grey-0);
  padding: 1rem 1.5rem;
  border-radius: 25px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
} */

/* .section-header h2 {
  font-size: var(--font-size-xl);
  font-weight: 800;
  color: var(--color-grey-900);
  margin-bottom: 1rem;
  font-family: Outfit;
}

.section-description {
  color: var(--color-grey-800);
  font-size: var(--font-size-xs);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
} */

/* .feature-card {
  background-color: var(--color-grey-0);
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: 0 3px 3px var(--color-grey-300);
  transition: all 0.5s;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 3px var(--color-grey-400);
}

.feature-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brand-600);
  color: var(--color-grey-0);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.feature-card h3 {
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--color-grey-900);
  margin-bottom: 0.3rem;
}
.feature-card p {
  font-size: var(--font-size-xs);
}
.icon-item {
  width: 30px;
  height: 30px;
} */

/* About Section */

.about .container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-content {
  flex: 1;
}

.about-image {
  flex: 1;

  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Testimonials Section */
/* .testimonials {
  padding: 3rem 0;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
} */

/* .testimonial-card {
  background-color: white;
  border-radius: 11px;
  padding: 1rem;
  box-shadow: 0 3px 2px var(--color-grey-300);
}

.testimonial-card p {
  font-style: italic;
  margin-bottom: 1rem;
} */

/* .user {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.user h4 {
  font-weight: 600; */
/* margin-bottom: 1rem; */
/* } */

/* .user span {
  font-size: 1rem;
  color: var(--neutral-500);
}
.testimonial-card p {
  font-size: var(--font-size-xs);
} */
/* Services Section */

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Blog Section */
.blog {
  padding: 7rem 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.blog-card {
  background-color: white;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 5px 5px var(--color-grey-300);
  transition: all 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px var(--color-grey-400);
}

.blog-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-content {
  padding: 2rem;
}

.blog-category {
  display: inline-block;
  background-color: var(--color-brand-800);
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 25px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  margin-bottom: 1rem;
}

.blog-card h3 {
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--color-grey-900);
  margin-bottom: 0.2rem;
}

.section-cta {
  text-align: center;
  margin-top: 3rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .hero .container,
  .about .container {
    flex-direction: column;
    /* gap: var(--space-8); */
  }

  .hero-content,
  .about-content {
    text-align: center;
    /* margin-bottom: var(--space-12); */
  }

  .hero .lead,
  .section-header {
    margin-left: auto;
    margin-right: auto;
  }

  .cta-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .nav,
  .auth-buttons {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }
}

@media (max-width: 480px) {
  .cta-buttons {
    flex-direction: column;
    /* gap: var(--space-3); */
  }

  .footer-bottom {
    flex-direction: column;
    /* gap: var(--space-4); */
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    /* gap: var(--space-2); */
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 6rem;
  }

  .hero-content {
    padding-right: 0;
    margin-bottom: 3rem;
  }

  .hero-content p {
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav-container {
    position: relative;
  }
  .nav-links,
  .show-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background-color: var(--color-grey-0);
    transform: translateX(100%);
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
    padding: 2rem;
  }

  .show-links {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .mobile-menu-button {
    display: block;
    font-size: var(--font-size-md);
  }

  .hero-content h1 {
    font-size: var(--font-size-xxl);
  }

  .services h2,
  .about-content h2 {
    font-size: var(--font-size-xl);
  }
}

@media (max-width: 576px) {
  .hero-content p,
  .services-subtitle {
    font-size: var(--font-size-xs);
  }

  .stats {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .parking-header,
  .parking-form,
  .signup-header,
  .signup-form,
  .welcome-section,
  .login-form,
  .leave-header,
  .leave-form {
    padding: 20px;
  }
}
