.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem 2rem;
  font-family: var(--font-family);
}

.auth-card {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  padding: 2.5rem;
  width: 100%;
  max-width: 500px;
}

.auth-title {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-family);
  position: relative;
}

.auth-button {
  padding: 0.8rem;
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font-family);

  transition: background-color 0.3s ease;
}

.auth-button.primary {
  background-color: var(--accent-color);
  color: white;
  font-family: var(--font-family2);
}

.auth-button.primary:hover {
  background-color: #d35400;
}

.auth-footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

.auth-link:hover {
  text-decoration: underline;
}

.passwordCheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.passwordCheck P {
  font-size: 13px;
  font-family: Outfit;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 1px 0;
  text-transform: capitalize;
}

.form-group {
  position: relative;
}

.signup-password-eye,
.signup-confirm-password-eye,
.login-password-eye,
.account-password-eye,
.account-confirm-password-eye {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.2rem;
}

.namesErr,
.emailErr,
.passwordErr,
.repeatPasswordErr {
  position: absolute;
  top: 38%;
  right: 1%;
  color: #991b1b;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .auth-card {
    padding: 1.5rem;
  }
}
