.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem 2rem;
  font-family: var(--font-family);
}

.auth-card {
  background-color: white;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  padding: 2.5rem;
  width: 100%;
  max-width: 500px;
}

.auth-title {
  color: var(--primary-color);
  text-align: center;
  /* margin-bottom: 2rem; */
  font-size: 1.8rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-family);
}

.auth-button {
  padding: 0.8rem;
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font-family);

  transition: background-color 0.3s ease;
}

.auth-button.primary {
  background-color: var(--accent-color);
  color: white;
  font-family: var(--font-family2);
}

.auth-button.primary:hover {
  background-color: #d35400;
}

.auth-footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

.auth-link:hover {
  text-decoration: underline;
}

.passwordCheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.passwordCheck P {
  font-size: 13px;
  font-family: Outfit;
  color: var(--login-el-color);
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 1px 0;
  text-transform: capitalize;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .auth-card {
    padding: 1.5rem;
  }
}
