.account-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: var(--font-family);
}

.account-title {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.profile-section {
  display: flex;
  gap: 3rem;
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--secondary-color);
}

.change-photo-button {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: #fdfdfd;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-weight: 600;
  font-family: var(--font-family);

  transition: background-color 0.3s ease;
}

.change-photo-button:hover {
  background-color: #cc6d19;
}

.account-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #d6dbdf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-pic h2 {
  font-size: 2.3rem;
  font-weight: 300;
  color: #000000;
}
.profileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1.5px solid var(--secondary-color);
}

@media (max-width: 768px) {
  .profile-section {
    flex-direction: column;
    gap: 2rem;
  }

  .account-container {
    padding: 1rem;
  }
}
